/* Start Globale Rulse */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&family=Exo+2:wght@300;400;500;700&family=Inter:wght@300;500;700;800&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lato:wght@300;400;700&family=Playfair+Display:wght@400;500;700;800&family=Poppins:wght@300;400;700;900&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Work+Sans:wght@200;300;400;500;700;800&family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap');

:root {
    --main-color: #391400;
    --main-bg-color: #28293E;
    --seconed-bg-color: #EF6D58;
    --third-bg-coloro: #FDF0E9;
    --main-transtion: all .3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 23px;
    padding-right: 23px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width:767px) {
    .container {
        width: 750px;
    }

}

/* Medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* Larg */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* End Globale Rulse */
/* Start Header */
header {
    background-color: var(--main-bg-color);
    padding-bottom: 64px;
}

/* Start Nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px 50px;
    padding-top: 16px;
}

@media (max-width:767px) {
    nav {
        flex-wrap: wrap;
    }
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo img {
    width: 45px;
    max-width: 100%;
    margin-right: 15px;
}

nav .logo h1 {
    font-size: 24px;
    color: #FFFFFF;
}

nav ul {
    display: flex;
    align-items: center;
}

@media (max-width:992px) {
    nav ul {
        flex-wrap: wrap;
    }
}

nav ul li a {
    font-size: 16px;
    color: #FFFFFF;
}

nav ul li a:nth-of-type(1),
nav ul li a:nth-of-type(2),
nav ul li a:nth-of-type(3) {
    margin-right: 110px;
}

@media (max-width:992px) {

    nav ul li a:nth-of-type(1),
    nav ul li a:nth-of-type(2),
    nav ul li a:nth-of-type(3) {
        margin-right: 20px;
    }
}

@media (max-width:767px) {
    nav ul li a:nth-of-type(3) {
        margin-right: 0;
    }
}

nav button {
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 29%);
    background: none;
    border-radius: 6px;
    text-transform: uppercase;
    padding: 18px 39px 11px;
    transition: var(--main-transtion);
}

nav button:hover {
    border: 1px solid rgba(29, 70, 246, 30%);
}

.head .text-content {
    text-align: center;
    margin-top: 115px;
}

.head .text-content h4 {
    color: #FFFFFF;
    font-size: 72px;
    margin-bottom: 34px;
    font-weight: 400;
}

.head .text-content p {
    font-size: 16px;
    color: rgba(255, 255, 255, 64%);
    max-width: 570px;
    margin: auto;
}

/* End Nav */
/* End Header */
/* Start Main Content */
/* Start Section Portfolio */
.portfolio {
    padding-top: 69px;
    padding-bottom: 112px;
    background-color: var(--third-bg-coloro);
}

.portfolio .options {
    padding-bottom: 75px;
}

.portfolio .options ul {
    display: flex;
    justify-content: center;
    gap: 63px;
}
@media (max-width:992px) {
    .portfolio .options ul{
        flex-wrap: wrap;
    }
}
.portfolio .options ul li {
    transition: var(--main-transtion);
    display: flex;
    gap: 6px;
}

.portfolio .options ul li a {
    color: rgba(57, 20, 0, 64%);
    font-size: 16px;
    font-weight: 500;
    transition: var(--main-transtion);

}

.portfolio .options ul li span {
    color: rgba(57, 20, 0, 64%);
    display: block;
    transform: translatey(-9px);
    font-weight: 500;
    transition: var(--main-transtion);
}

.portfolio .options ul .active a {
    color: #391400;
}

.portfolio .options ul .active span {
    color: rgba(57, 20, 0, 64%);

}

.portfolio .options ul li:hover a,
.portfolio .options ul li:hover span {
    color:#391400;
}

.portfolio .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.portfolio .boxs .box-1,
.portfolio .boxs .box-2,
.portfolio .boxs .box-3,
.portfolio .boxs .box-4,
.portfolio .boxs .box-5,
.portfolio .boxs .box-6,
.portfolio .boxs .box-7,
.portfolio .boxs .box-8,
.portfolio .boxs .box-9 {
    position: relative;
}

.portfolio .boxs .box-1 img,
.portfolio .boxs .box-2 img,
.portfolio .boxs .box-3 img,
.portfolio .boxs .box-4 img,
.portfolio .boxs .box-5 img,
.portfolio .boxs .box-6 img,
.portfolio .boxs .box-7 img,
.portfolio .boxs .box-8 img,
.portfolio .boxs .box-9 img {
    width: 100%;
}

.portfolio .boxs .box-1 .text-content,
.portfolio .boxs .box-2 .text-content,
.portfolio .boxs .box-3 .text-content,
.portfolio .boxs .box-4 .text-content,
.portfolio .boxs .box-5 .text-content,
.portfolio .boxs .box-6 .text-content,
.portfolio .boxs .box-7 .text-content,
.portfolio .boxs .box-8 .text-content,
.portfolio .boxs .box-9 .text-content {
    position: absolute;
    bottom: 53px;
    left: 48px;
}

.portfolio .boxs .box-1 .text-content button,
.portfolio .boxs .box-2 .text-content button,
.portfolio .boxs .box-3 .text-content button,
.portfolio .boxs .box-4 .text-content button,
.portfolio .boxs .box-5 .text-content button,
.portfolio .boxs .box-6 .text-content button,
.portfolio .boxs .box-7 .text-content button,
.portfolio .boxs .box-8 .text-content button,
.portfolio .boxs .box-9 .text-content button {
    padding: 9px 19px 8px 16px;
    background-color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 19px;
    color: #391400;
    font-size: 16px;
    margin-bottom: 16px;
}

.portfolio .boxs .box-1 .text-content button:hover,
.portfolio .boxs .box-2 .text-content button:hover,
.portfolio .boxs .box-3 .text-content button:hover,
.portfolio .boxs .box-4 .text-content button:hover,
.portfolio .boxs .box-5 .text-content button:hover,
.portfolio .boxs .box-6 .text-content button:hover,
.portfolio .boxs .box-7 .text-content button:hover,
.portfolio .boxs .box-8 .text-content button:hover,
.portfolio .boxs .box-9 .text-content button:hover {
    border: 1px solid rgba(29, 70, 246, 30%);
}

.portfolio .boxs .box-1 .text-content h4,
.portfolio .boxs .box-2 .text-content h4,
.portfolio .boxs .box-3 .text-content h4,
.portfolio .boxs .box-4 .text-content h4,
.portfolio .boxs .box-5 .text-content h4,
.portfolio .boxs .box-6 .text-content h4,
.portfolio .boxs .box-7 .text-content h4,
.portfolio .boxs .box-8 .text-content h4,
.portfolio .boxs .box-9 .text-content h4 {
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 500;
}

.portfolio .container>button {
    background-color: #FFFFFF;
    padding: 18px 40px 11px;
    color: #391400;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    border: 1px solid transparent;
    transition: var(--main-transtion);
    display: block;
    margin: auto;
    margin-top: 80px;
}

.portfolio .container>button:hover {
    border: 1px solid rgba(29, 70, 246, 30%);
}

/* End Section Portfolio */
/* Start Section Contact Us Part 2 */
.contact-us-p2 {
    background-color: var(--third-bg-coloro);
}

.contact-us-p2 .container {
    background-color: var(--seconed-bg-color);
    border-radius: 6px;
    display: flex;
    padding: 38px 70px 72px 100px;
}

@media (max-width:1200px) {
    .contact-us-p2 .container {
        flex-wrap: wrap;
        gap: 500px;
    }
}

@media (max-width:767px) {
    .contact-us-p2 .container {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        gap: 500px;
        margin: 0 20px;
    }
}

.contact-us-p2 .text-content p {
    font-size: 53px;
    color: #FFFFFF;
    max-width: 340px;
    margin-bottom: 38px;
    font-weight: 500;
}

.contact-us-p2 .text-content span {
    display: block;
    font-size: 16px;
    max-width: 470px;
    color: rgba(255, 255, 255, 64%);
    margin-bottom: 26px;
}

@media (max-width:1200px) {

    .contact-us-p2 .text-content,
    .contact-us-p2 .text-content p,
    .contact-us-p2 .text-content span {
        max-width: 100%;
    }
}

.contact-us-p2 .text-content button {
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: #FFFFFF;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    padding: 14px 36px 15px;
    transition: var(--main-transtion);
}

.contact-us-p2 .text-content button:hover {
    border: 1px solid rgba(29, 70, 246, 30%);
}

.contact-us-p2 .image-shap {
    position: relative;
    z-index: 1;
}

@media (max-width:992px) {
    .contact-us-p2 .image-shap {
        left: -133px;
        top: 30px;
    }
}

@media (max-width:767px) {
    .contact-us-p2 .image-shap {
        left: -312px;
        top: 30px;
    }
}

.contact-us-p2 .image-shap::before {
    content: "";
    position: absolute;
    top: 190px;
    left: 300px;
    transform: translate(-50%, -50%);
    background-color: #F38472;
    width: 318px;
    height: 318px;
    border-radius: 50%;
    z-index: -1;
}

@media (max-width:1200px) {
    .contact-us-p2 .image-shap::before {
        top: -200px;
        left: 400px;
    }
}


@media (max-width:767px) {
    .contact-us-p2 .image-shap::before {
        top: 192px;
        left: 425px;
    }
}

.contact-us-p2 .img-star {
    position: absolute;
    top: -52px;
    left: 41px;
}

@media (max-width:1200px) {
    .contact-us-p2 .img-star {
        top: -470px;
        left: 194px;
    }
}

@media (max-width:767px) {
    .contact-us-p2 .img-star {
        top: -87px;
        left: 194px;
    }
}

.contact-us-p2 .img-star i {
    position: absolute;
    top: 66px;
    left: 72px;
    color: rgb(255, 255, 255);
    font-size: 35px;
}

.contact-us-p2 .img-shap-1 {
    position: absolute;
    top: 33px;
    left: 138px;
    z-index: -1;
}

@media (max-width:1200px) {
    .contact-us-p2 .img-shap-1 {
        top: -363px;
        left: 307px;
    }
}

@media (max-width:767px) {
    .contact-us-p2 .img-shap-1 {
        top: 9px;
        left: 300px;
    }
}

.contact-us-p2 .card {
    background-color: #FFFFFF;
    padding: 18px 21px 17px;
    border-radius: 6px;
    width: 214px;
    position: absolute;
    bottom: 80px;
    left: 120px;
    z-index: 1;
}

@media (max-width:1200px) {
    .contact-us-p2 .card {
        bottom: 110px;
        left: 218px;
    }
}

@media (max-width:767px) {
    .contact-us-p2 .card {
        bottom: -270px;
    }
}

.contact-us-p2 .card .imb-rang {
    display: flex;
    align-items: center;
    gap: 21px;
}

.contact-us-p2 .card .imb-rang .image {
    background-color: #F7CC47;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.contact-us-p2 .card .imb-rang span {
    display: block;
    height: 14px;
    border-radius: 2px;
    background-color: #FFE4DF;
}

.contact-us-p2 .card .rang {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 11px;
}


.contact-us-p2 .card .rang span {
    display: block;
    background-color: #FFE4DF;
    border-radius: 3px;
    width: 6px;
}

.contact-us-p2 .img-shap-3 {
    position: absolute;
    bottom: -10px;
    left: 200px;
}

@media (max-width:1200px) {
    .contact-us-p2 .img-shap-3 {
        bottom: 26px;
        left: 315px;
    }
}

@media (max-width:767px) {
    .contact-us-p2 .img-shap-3 {
        bottom: -350px;
    }
}

.contact-us-p2 .img-man {
    position: absolute;
    left: 309px;
    top: 6px;
    background-color: #F7CC47;
    border-top-left-radius: 48%;
    border-top-right-radius: 48%;
}

@media (max-width:1200px) {
    .contact-us-p2 .img-man {
        left: 400px;
        top: -400px;
    }
}

@media (max-width:767px) {
    .contact-us-p2 .img-man {
        left: 388px;
        top: -26px;
    }
}

.contact-us-p2 .img-man img {
    transform: translateY(6px);
}

/* End Section Contact Us Part 2 */
/* End Main Content */
/* Start Footer */
footer {
    background-color: var(--third-bg-coloro);
    padding-top: 92px;
    padding-bottom: 57px;
}

footer .text-content {
    display: flex;
    align-items: start;
    gap: 222px;
    padding-bottom: 79px;
    border-bottom: 1px solid #F3D1BF;
}


@media (max-width:1200px) {
    footer .text-content {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 60px;
    }
}

@media (max-width:767px) {
    footer .text-content {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        padding-bottom: 20px;
    }
}

footer h3 {
    font-size: 24px;
    color: #391400;
}

footer .menu h4 {
    font-size: 16px;
    text-transform: uppercase;
    color: var(--seconed-bg-color);
    margin-bottom: 27px;
    font-weight: 500;
    letter-spacing: 3px;
}

footer .menu ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .menu ul li a {
    color: #391400;
    font-size: 16px;
}

footer .menu ul li {
    transition: var(--main-transtion);
}

footer .menu ul li:hover {
    transform: translate(10px);
}

footer .servic h4 {
    font-size: 16px;
    text-transform: uppercase;
    color: var(--seconed-bg-color);
    margin-bottom: 27px;
    font-weight: 500;
    letter-spacing: 3px;
}

footer .servic ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .servic ul li a {
    color: #391400;
    font-size: 16px;
}

footer .servic ul li {
    transition: var(--main-transtion);
}

footer .servic ul li:hover {
    transform: translate(10px);
}

footer .icon-soshial {
    display: flex;
    align-items: center;
    gap: 8px;
}

footer .icon-soshial i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    font-size: 25px;
    background-color: var(--seconed-bg-color);
    color: #FFFFFF;
    border-radius: 50%;
    transition: var(--main-transtion);
}

footer .icon-soshial i:hover {
    transform: rotate(360deg);
}

footer .copy-right {
    padding-top: 43px;
    display: flex;
    justify-content: space-between;
}

@media (max-width:767px) {
    footer .copy-right {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

footer .copy-right p {
    font-size: 16px;
    color: #391400;
}

footer .copy-right .infom {
    display: flex;
    align-items: center;
    gap: 79px;
}

footer .copy-right .infom a {
    color: #391400;
    font-size: 16px;
    transition: var(--main-transtion);
}

footer .copy-right .infom a:hover {
    text-shadow: 1px 7px 14px #bd8e74;
}

/* End Footer */
